*.php~
.settings
.project
*.css~
*.js~
*.html~
*.htm~
LDAP/reset.php
core/config.php
students/students_cv/*
images/profile/*
students/images/profile/*
.buildpath
students/includes/errors/*.php~
includes/errors/*.php~
students/includes/*.php~
(.*).php~
(.*).css~
(.*).html~
(.*).js~
