.u_close{
	position:fixed;
	border:1px solid black;
	background:black;
	color:white;
	padding:3px;
	right:0px;
	bottom:0px;
	z-index:9999;
	cursor:pointer;
	display:none;
}

#loading{
	background:#fff;
	left:0px;
	opacity:0.7;
	display:none;
	z-index: 999;
	top:0px;
	width:100%;
	height:100%;
	position:fixed;
	
}
#loading img{
	top:50%;
	left:50%;
	opacity:1.0;
	margin-top:-25px;
	margin-left:-25px;
	position:fixed;
	
}
#update{
	bottom:20px;
	right:20px;
	height:auto;
	min-height:100px;
	width:1000px;
	padding:10px;
	position:fixed;
	background:#fefefe;
	border:1px solid #0e568a;
	border-radius:10px;
	box-shadow:0 0 20px #0e568a;
	z-index:9998;
	display:none;
}
