.header a{
	color:#fefefe;
}
header.header{
	height:80px;
}
body > .header .navbar,body > .header .logo{
	height:80px;
}
.user-panel {
	padding: 2px;
}
.skin-blue .user-panel > .image > img {
	border: none;
}
.user-panel > .image > img {
	width: 75px;
	height: 75px;
	margin: 0 65%;
}
.row {
margin-top:5px;
}
.skin-blue .logo {
	background-color: #3c8dbc;
	color: #f9f9f9;
}
h4, .h4 {
	font-size: 14px;
}